<!DOCTYPE html>
<html lang="en">
    @@include('../../partials/head.html', {
        "title" : "VOID Festival"
    })
    <body class="body">
      @@include('../../partials/menu.html')
      <main class="min-vh">
        @@include('../../partials/navigation.html')
        <section class="header header__half">
          <img src="_src/img/stage.png" alt="Bild einer Bühne mit feiernder Menge">
          <div class="overlay"></div>
          <div class="header__text">
              <h2>LOCATION <br /> 12.-13.12.</h2>
              <div class="header__container">
                  <span>
                    2 STAGES | 60 ARTISTS | 2 TAGE <br/>
                    ALL GENRES ALL STYLES
                  </span>
              </div>
              <div class="decoration__bar animate__bg animate__bg--vertical animate__bg--vertical--glow"></div>
              <div class="decoration__bar animate__bg animate__bg--vertical"></div>
          </div>
        </section>
        <div class="breadcrumbs outer">
          <a class="breadcrumbs__link" href="./">Home</a>
          <span> / </span>
          <a class="breadcrumbs__link" href="location/">Location</a>
        </div>
        <div class="outer mt">
          <h2>Location</h2>
          <div class="container container--2col">
            <div>
              <p>
                Kommt mit uns Aufs Feld. Wortwörtlich. Zwei Tage Festival auf Feldburgs berühmten Camping Ground "Aufm Feld 2", weniger als eine Stunde von der wunderschönen Hansestadt Hamburg entfernt.
              </p> <br />
              <p>
                Vor Ort findet ihr zwei Zeltplätze mit separaten Eingängen zum Mainfield. Natürlich können ihr auch eure Feldnachbarn besuchen ohne über den heiligen Boden zu müssen. Wir stehen für intermusikalische Freundschaften!
              </p>
              <p><br />
                Außerdem warten auf euch beheizte Hygienezelte, Toiletten und Community Tents auf dem Zeltplatz, in denen ihr mit euren Nachbarn auch an einem großen Tisch chillen könnt anstatt nur in euren zwei-Personen Zelten. Und damit ihr in den eigenen vier Wänden nicht frieren müsst gibt es zustäzlich zu unseren Pavillions, die ihr euch über unsere Partner mieten könnt, eine zentrale Luftheizung, an die ihr euer Camp anschließen könnt.
              </p><br />
              <p>
                Quasi eure persönliche Hot Box!
              </p><br />
            </div>
            <div>
              <img src="_src/img/map_blank.jpg" alt="Karte des Geländes">
            </div>
          </div>
          <a href="tickets">
            <button class="btn mt mb"> Jetzt buchen!</button>
          </a>
      </main>
        @@include('../../partials/footer.html')
    </body>
</html>