<!DOCTYPE html>
<html lang="en">
    @@include('../../partials/head.html', {
        "title" : "VOID | About"
    })
    <body class="body">
      @@include('../../partials/menu.html')
      <main class="min-vh">
        @@include('../../partials/navigation.html')
        <section class="header header__half">
          <img src="_src/img/stage.png" alt="Bild einer Bühne mit feiernder Menge">
          <div class="overlay"></div>
          <div class="header__text">
              <h2>ÜBER UNS <br /> 12.-13.12.</h2>
              <div class="header__container">
                  <span>
                    2 STAGES | 60 ARTISTS | 2 TAGE <br/>
                    ALL GENRES ALL STYLES
                  </span>
              </div>
              <div class="decoration__bar animate__bg animate__bg--vertical animate__bg--vertical--glow"></div>
              <div class="decoration__bar animate__bg animate__bg--vertical"></div>
          </div>
        </section>
        <div class="breadcrumbs outer">
          <a class="breadcrumbs__link" href="./">Home</a>
          <span> / </span>
          <a class="breadcrumbs__link" href="about/">Über uns</a>
        </div>
        <div class="outer mt">
          <h2>Über uns</h2>
          <div class="container container--2col">
            <div>
              <p>
                Rap ist nicht mehr das, was es früher war. Und das ist gut so. Natürlich bleiben Legenden wie Tupac oder Kool Savas mit ihren Sounds und deren Message wichtiger Bestandteil des Genres, aber genauso wichtig ist auch, dass es inhaltliche und musikalische Weiterentwicklungen gibt, Grenzen aufgebrochen werden und sich diese Kunstform neu definiert.
              </p><br />
              <p>
                Genau wie der oft genutzte 4/4 Takt bleibt auch Techno sich seit Jahrzehnten mit dem futuristischen Sound treu und doch gibt es auch hier Aufbrüche und ständige Weiterentwicklungen im Sounddesign. 
              </p>
            </div>
            <div>
              <p>Techno und Rap haben in sich gemein am Zahn der Zeit zu sein. Jedoch ist die Techno Szene mit ihren seit jeher vertretenden Werten – No Racism, No Sexism and Love for everyone anderen Genres immen noch weit voraus.
              </p><br />
              <p>
                Um diese beiden Welten näher zubringen, die Weiterentwicklung der Genres und des Puplikums zu fördern, die Klänge der kleinen und großen Künstlern zu genießen und um einen Ort für den Genuss und Austausch zu schaffen, haben wir das Void Festival erschaffen.
              </p>
            </div>
          </div>
          <div class="container container--2col mt">
            <div>
              <img class="about__img" src="_src/img/globe.png" alt="Globe Icon">
            </div>
            <div>
              <img class="about__img" src="_src/img/acid_smile.png" alt="Acid Smile Icon">
            </div>
          </div>
          <div class="container container--2col mt">
            <div>
              <p class="mb">
                Bei uns ist jeder willkommen, aber Rassismuss und Sexsismus bleiben Zuhause. Lasst uns die Entwicklung, den Austausch und ein Teil der Geschichte selber gestalten! Wir freuen uns auf das erste Mal Void Festival 2023 mit euch.
              </p>
            </div>
            <div>
            </div>
          </div>
        </div>
      </main>
        @@include('../../partials/footer.html')
    </body>
</html>