<!DOCTYPE html>
<html lang="en">
    @@include('../../partials/head.html', {
        "title" : "VOID Festival"
    })
    <body class="body">
      @@include('../../partials/menu.html')
      <main class="min-vh">
        @@include('../../partials/navigation.html')
        <section class="header header__half">
          <img src="_src/img/stage.png" alt="Bild einer Bühne mit feiernder Menge">
          <div class="overlay"></div>
          <div class="header__text">
              <h2>ARCHIV <br /> 12.-13.12.</h2>
              <div class="header__container">
                  <span>
                    2 STAGES | 60 ARTISTS | 2 TAGE <br/>
                    ALL GENRES ALL STYLES
                  </span>
              </div>
              <div class="decoration__bar animate__bg animate__bg--vertical animate__bg--vertical--glow"></div>
              <div class="decoration__bar animate__bg animate__bg--vertical"></div>
          </div>
        </section>
        <div class="breadcrumbs outer">
          <a class="breadcrumbs__link" href="./">Home</a>
          <span> / </span>
          <a class="breadcrumbs__link" href="archiv/">Archiv</a>
        </div>
        <div class="outer mt">
            <h2>Archiv</h2>
            <div class="container container--2col">
                <div>
                    <p>Hier findet ihr ein kleines Preview zu den Künstlern und Stages die euch in den zwei Tagen erwarten</p>
                </div>
                <div></div>
            </div>
          <div class="container container--4col galerie">
            <div class="archive__wrap">
                <img src="_src/img/artists/ahzumjot.jpg" alt="Ahzumjot">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/ansu.jpg" alt="Ansu">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/apsilon.jpg" alt="Apsilon">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/asys.jpg" alt="A*S*Y*S">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/bibiza.jpg" alt="Bibiza">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/bjoernpeng.jpg" alt="Björn Peng">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/brutalismus3000.jpg" alt="Brutalismus3000">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/enricosangiuliano.jpg" alt="Enrico Sangiuliano">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/fjaak.jpg" alt="Fjaak">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/gallya.jpg" alt="Gallya">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/glowingmisfits.jpg" alt="Glowing Misfits">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/goldroger.jpg" alt="Goldroger">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/i_o_.jpg" alt="I_O">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/jaylumen.jpg" alt="Jay Lumen">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/joyhauser.jpg" alt="Joyhauser">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/konz.jpg" alt="Konz">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/kynda.jpg" alt="Kynda">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/lugatti.jpg" alt="Lugatti">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/luis.jpg" alt="Luis">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/makko.jpg" alt="Makko">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/mattlange.jpg" alt="Matt Lange">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/mystical.jpg" alt="Mystical Mind">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/nonameleft.jpg" alt="NoNameLeft">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/ogkeemo.jpg" alt="OG Keemo">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/pinkkatana.jpg" alt="Pink Katana">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/poebelmc.jpg" alt="Pöbel MC">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/presslufthanna.jpg" alt="Presslufthanna">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/robpm.jpg" alt="BOBPM">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/salvatoreganacci.jpg" alt="Salvatore Ganacci">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/sohobani.jpg" alt="SOHO BANI">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/space92.jpg" alt="Space92">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/suahn.jpg" alt="SUAHN">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/t78.jpg" alt="T78">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/tym.jpg" alt="TYM">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/umek.jpg" alt="Umek">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/urbannino.jpg" alt="Urbannino">
            </div>
            <div class="archive__wrap">
                <img src="_src/img/artists/xaver.jpg" alt="Xaver">
            </div>
          </div>
        </div>
      </main>
        @@include('../../partials/footer.html')
    </body>
</html>