<footer class="footer">
    <div class="decoration__bar animate__bg"></div>
    <div class="footerwrap">
        <div>
            <img src="_src/img/logo-white.svg" alt="Gefülltes Logo in weiß" class="footerlogo">
        </div>
        <div>
            <p>VOID. FESTIVAL GMBH</p>
            <p>Aufm Feld 2</p>
            <p>21455 Feldburg</p>
        </div>
        <div>
            <p>Kontakt</p>
            <a href="tel:01631737743">Tel.: 0163 173 7743</a><br />
            <a href="mailto:mail@mailmail.mail">Mail: info@void.com</a>
        </div>
        <div>
            <a href="tickets/">TICKETS</a><br />
            <a href="lineup/">LINE UP</a><br />
            <a href="location/">LOCATION</a>
        </div>
    </div>
</footer>
<script src="JavaScript/menu.js"></script>