<section class="header @@half">
    <img src="_src/img/stage.png" alt="Bild einer Bühne mit feiernder Menge">
    <div class="overlay"></div>
    <div class="header__text">
        <h2>VOID <br /> FESTIVAL</h2>
        <div class="header__container">
            <span>HIP HOP TECHNO COLLISION</span>
            <div>    
                <img class="decoration__img" src="_src/img/acid_smile.png" alt="Acid Smile Icon">
                <img class="decoration__img" src="_src/img/globe.png" alt="Globe Icon">
            </div>
        </div>
        <span>
            12.-13.12.
        </span>
        <div class="decoration__bar animate__bg animate__bg--vertical animate__bg--vertical--glow"></div>
        <div class="decoration__bar animate__bg animate__bg--vertical"></div>
    </div>
</section>