<section class="tiles container container--nogap container--2col">
    <a class="image__wrap" href="hiphop/">
        <img class="bg__img bg__img__artist" src="_src/img/rap_lineup.jpg" alt="HipHop Konzert mit Publikum">
        <div class="overlay overlay--red"></div>
        <div class="tiles__text">
            <h2>HIP HOP<br>LINE UP</h1>
            <p class="tiles__text__lower">
                1 STAGE | 20 ARTISTS | 2 TAGE <br />
                ALL GENRES | ALL STYLES
            </p>
            <div class="decoration__bar decoration__bar__red"></div>
        </div>
    </a>
    <a class="image__wrap" href="techno/">
        <img class="bg__img bg__img__artist" src="_src/img/techno_lineup.jpg" alt="Techno Bühne mit Publikum">
        <div class="overlay overlay--blue"></div>
        <div class="tiles__text">
            <h2>TECHNO<br>LINE UP</h1>
            <p class="tiles__text__lower">
                1 STAGE | 22 ARTISTS | 2 TAGE <br />
                RAW TECHNO | INDUSTRIAL
            </p>
            <div class="decoration__bar decoration__bar__blue"></div>
        </div>
    </a>
    <div class="image__wrap">
        <img class="bg__img" src="_src/img/ticket.png" alt="">
        <div class="overlay overlay--dark"></div>
        <div>
            <img class="overlay__image" src="_src/img/icon-ticket.svg" alt="">
            <p class="overlay__text">TICKETS</p>
        </div>
        <a class="btn btn--br" href="tickets/">
            <img src="_src/img/arrow_black.svg" alt="">
        </a>
    </div>
    <div class="image__wrap">
        <img class="bg__img" src="_src/img/map_blank.jpg" alt="">
        <div class="overlay overlay--dark"></div>
        <div>
            <img class="overlay__image padded" src="_src/img/location.svg" alt="">
            <p class="overlay__text">LOCATION</p>
        </div>
        <a class="btn btn--br" href="location/">
            <img src="_src/img/arrow_black.svg" alt="">
        </a>
    </div>
</section>