<div id="menu" class="menu hidden">
    <div class="menuwrap">
        <div class="menu__header">
            <div class="menu__header__group">
                <p class="menu__header__title">Menü</p>
                <div class="icons">
                    <img class="icon" src="_src/img/acid_smile.png" alt="Acid Smile Icon">
                    <img class="icon" src="_src/img/globe.png" alt="Globe Icon">
                </div>
            </div>
            <a href="tickets/">
                <img class="icon cart" src="_src/img/cart.svg" alt="Einkaufswagen Icon">
            </a>
            <div class="decoration__bar animate__bg"></div>
        </div>
        <nav class="nav">
            <ul class="navlist">
                <li><a href="tickets/">Tickets</a></li>
                <li><a href="lineup/">Lineup</a></li>
                <li><a href="location/">Location</a></li>
                <li><a href="kontakt/">Kontakt</a></li>
                <li><a href="archiv/">Archiv</a></li>
                <li><a href="about/">Über uns</a></li>
            </ul>
        </nav>
        <div class="menufooter">
            <ul class="legals">
                <li><a href="impressum/">Impressum</a></li>
                <li><a href="datenschutz/">Datenschutz</a></li>
                <li><a href="kontakt/">Kontakt</a></li>
            </ul>
            <ul class="socials">
                <a href="https://open.spotify.com/playlist/6WEigTLuk5kBEHF2bdMUC4?si=48e1028b665146aa">
                    <img class="social__icon" target="_blank" src="_src/img/youtube.svg" alt="YouTube Icon">
                </a>
                <a href="https://open.spotify.com/playlist/6WEigTLuk5kBEHF2bdMUC4?si=48e1028b665146aa">
                    <img class="social__icon" target="_blank" src="_src/img/spotify.svg" alt="Spotify Icon">
                </a>
                <a href="https://instagram.com">
                    <img class="social__icon" target="_blank" src="_src/img/instagram.svg" alt="Instagram Icon">
                </a>
                <a href="https://twitter.com">
                    <img class="social__icon" target="_blank" src="_src/img/twitter.svg" alt="Twitter Icon">
                </a>
            </ul>
        </div>
    </div>
</div>