<nav class="navigation">
    <div class="navigation__wrap">        
        <div class="logo">
            <a href="" class="navlink--logo">
                <img src="_src/img/logo-white.svg" alt="Gefülltes Logo in weiß">
            </a>
        </div>
        <div class="navbar">
            <div id="burger" class="burger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </div>
</nav>