<!DOCTYPE html>
<html lang="en">
    @@include('../../../partials/head.html', {
        "title" : "VOID | Lineup Techno"
    })
    <body class="body">
      @@include('../../../partials/menu.html')
      <main>
        @@include('../../../partials/navigation.html')
        <div class="lineup lineup--techno min-vh">
            <div class="contentwrap outer">
                <div class="titlewrap">
                    <div class="lineup__title">
                        <h2>TECHNO<br>LINE UP</h1>
                        <p class="lineup__title__lower">
                            1 STAGE | 22 ARTISTS | 2 TAGE <br />
                            ALL GENRES | ALL STYLES
                        </p>
                        <div class="decoration__bar decoration__bar__blue"></div>
                    </div>
                    <img class="lineup__title__image" src="_src/img/acid_smile.png" alt="Acid Smile Icon">
                </div>
                <div class="container container--lineup">
                    <div>
                        <div class="lineup__day">
                            <div class="date">
                                <p><b>Freitag</b></p>
                                <p>12.12.2022</p>
                            </div>
                            <div class="artists">
                                <p>
                                    I_O | NoNameLeft | Jay Lumen | A*S*Y*S | Gallya | Matt Lange | SUAHN | PowerBenk | Brutalismus3000 | Björn Peng
                                </p>
                            </div>
                        </div>
                        <div class="lineup__day">
                            <div class="date">
                                <p><b>Samstag</b></p>
                                <p>13.12.2022</p>
                            </div>
                            <div class="artists">
                                <p>
                                    Joyhauser | Push | Straticah | Umek | ROBPM | Fjark | Enrico Sangiuliano | Karius und Baktus | T78 | Space92
                                </p>
                            </div>
                        </div>
                        <iframe style="border-radius:0px; margin-bottom: 48px; filter: drop-shadow(5px 5px 10px #000)" src="https://open.spotify.com/embed/playlist/000afZLo89J3naN5ok94X9?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
      </main>
        @@include('../../../partials/footer.html')
    </body>
</html>