<!DOCTYPE html>
<html lang="en">
    @@include('../../partials/head.html', {
        "title" : "VOID Festival"
    })
    <body class="body">
      @@include('../../partials/menu.html')
      <main class="mb">
        @@include('../../partials/navigation.html')
        <section class="header header__half">
          <img src="_src/img/stage.png" alt="Bild einer Bühne mit feiernder Menge">
          <div class="overlay"></div>
          <div class="header__text">
              <h2>TICKETS <br /> 12.-13.12.</h2>
              <div class="header__container">
                  <span>
                    2 STAGES | 60 ARTISTS | 2 TAGE <br/>
                    ALL GENRES ALL STYLES
                  </span>
              </div>
              <div class="decoration__bar animate__bg animate__bg--vertical animate__bg--vertical--glow"></div>
              <div class="decoration__bar animate__bg animate__bg--vertical"></div>
          </div>
      </section>
        <div class="breadcrumbs outer">
          <a class="breadcrumbs__link" href="./">Home</a>
          <div id="breadcrumb-1"  class="breadcrumb">
            <span> / </span>
            <span class="breadcrumbs__link">Tickets</span>
          </div>
          <div id="breadcrumb-2" class="breadcrumb disabled">
            <span> / </span>
            <span class="breadcrumbs__link">Warenkorb</span>
          </div>
          <div id="breadcrumb-3" class="breadcrumb disabled">
            <span> / </span>
            <span class="breadcrumbs__link">Bezahlen</span>
          </div>
        </div>
        <div id="order" class="order">
        <div class="step" id="step--one">

          <div class="container container--1col outer">
            <h2>Unsere Tickets 2023</h2>
            <div class="container container--2col">
              <div>
                <p>
                  Wir bieten drei verschiedene Ticketarten an, welche perfekt auf euch abgestimmt wurden. Mit unserem Early Bird Ticket erhälst du das Full Experience Ticket zu einem vergünstigsten Preis, aber nur bis zum 10.05.23 .
                </p>
              </div>
              <div>
                <p>
                  Für alle nachzügler bieten wir unser reguläres Full Experience Ticket an, welches die volle Festival Erfahrung beinhaltet. Für alle spontanen Atzen bieten wir noch das Tagesticket an, welches auch vor Ort zu erwerben ist. Bei jedem Ticket sind Toiletten, ein Stellplatz auf dem Camper inklusive.
                </p>
              </div>
            </div>
          </div>
          <div class="productcont outer">
            <div class="product">
              <div class="infowrap">
                <div class="image__wrap">
                  <img class="decoration__img" src="_src/img/Ticket-earlyBird.jpg" alt="Early Bird Ticket">
                </div>
                <div>
                  <h3 class="productname">Early Bird</h3>
                  <p>bis zum 10.05.2023 erhältlich</p>
                  <div class="detail">
                    <img src="_src/img/zelt.svg" alt="Zelt Icon">
                    <p>Zeltplatz inkl.</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/toilets.svg" alt="Toiletten Icon">
                    <p>Toiletten und Duschen inkl.</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/calendar.svg" alt="Kalender Icon">
                    <p>12.-13. Dezember 2023</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/standort.svg" alt="Standort Icon">
                    <p>Aufm Feld 2, 21455 Feldburg</p>
                  </div>
                </div>
              </div>
              <div class="addbutton">
                <h3 class="producttitle">Early Bird</h3>
                <p class="price">$64.00</p>
                <button class="addtocart btn">
                  <img class="btn__img" src="_src/img/cart_black.svg" alt="Einkaufswagen Icon">
                  in den Warenkorb
                </button>
              </div>
            </div>
            <div class="product">
              <div class="infowrap">
                <div class="image__wrap">
                  <img class="decoration__img" src="_src/img/Ticket-fullEx.jpg" alt="Full Experience Tickets">
                </div>
                <div>
                  <h3 class="productname">Full experience</h3>
                  <div class="detail">
                    <img src="_src/img/zelt.svg" alt="Zelt Icon">
                    <p>Zeltplatz inkl.</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/toilets.svg" alt="Toilets Icon">
                    <p>Toiletten und Duschen inkl.</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/calendar.svg" alt="Kalender Icon">
                    <p>12.-13. Dezember 2023</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/standort.svg" alt="Standort Icon">
                    <p>Aufm Feld 2, 21455 Feldburg</p>
                  </div>
                </div>
              </div>
              <div class="addbutton">
                <h3 class="producttitle">Full experience</h3>
                <p class="price">$75.00</p>
                <button class="addtocart btn">
                  <img class="btn__img" src="_src/img/cart_black.svg" alt="Einkaufswagen Icon">
                  in den Warenkorb
                </button>
              </div>
            </div>
            <div class="product">
              <div class="infowrap">
                <div class="image__wrap">
                  <img class="decoration__img" src="_src/img/Ticket-tagesTicket.jpg" alt="Tagesticket">
                </div>
                <div>
                  <h3 class="productname">Tagesticket</h3>
                  <div class="detail">
                    <img src="_src/img/toilets.svg" alt="Toiletten Icon">
                    <p>Toiletten inkl.</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/calendar.svg" alt="Kalender Icon">
                    <p>12. oder 13. Dezember 2023</p>
                  </div>
                  <div class="detail">
                    <img src="_src/img/standort.svg" alt="Standort Icon">
                    <p>Aufm Feld 2, 21455 Feldburg</p>
                  </div>
                </div>
              </div>
              <div class="addbutton">
                  <h3 class="producttitle">Tagesticket</h3>
                <p class="price">$45.00</p>
                <button class="addtocart btn">
                  <img class="btn__img" src="_src/img/cart_black.svg" alt="Einkaufswagen Icon">
                  in den Warenkorb
                </button>
              </div>
            </div>
          </div>
          <div class="order__navigation outer">
            <div></div>
            <button class="btn btn__order mb" id="slide-1-next">Zum Warenkorb</button>
          </div>
        </div>

        <div class="step" id="step--two">
          <div class="cart-container outer">
            <h2>Warenkorb</h2>
            <table>
              <tbody id="carttable" class="carttable">
                <tr>
                  <td class="productname">Servicegebühr</td>
                  <td class="price">$5.00</td>
                </tr>
              </tbody>
            </table>
            <table id="carttotals" class="carttotals">
              <tr>
                <td>
                  <strong class="hidden">Items</strong>
                  <span class="hidden" id="itemsquantity">0</span>
                </td>
              </tr>
              <tr>
                <td>
                  <td><strong>Gesamt</strong></td>
                </td>  
                <td class="price">
                  $<span id="total" class="total">0</span>
                  <span class="hint">zzgl.&nbspServicegebühr</span>
                </td>
              </tr>
            </table>
            <div class="cart-buttons">  
              <button class ="btn" id="emptycart">Warenkorb leeren</button>
              <button class ="btn" id="checkout">Bezahlung</button>
            </div>
          </div>
          <div class="order__navigation outer">
            <button class="btn btn__order" id="slide-2-prev">Zur Auswahl</button>
            <button class="btn btn__order" id="slide-2-next">Zur Kasse</button>
          </div>
        </div>

        <div class="step" id="step--three">
          <div class="form__area outer">
            <h3>Persönliche Daten</h3>
            <form action="post">
              <div class="formrow">
                <input placeholder="Vorname" type="text" name="name" id="name">
                <input placeholder="Nachname" type="text" name="familyname" id="familyname">
              </div>
              <div class="formrow">
                <input placeholder="Email Adresse" type="text" name="mail" id="mail">
                <input placeholder="Telefonnummer" type="text" name="phone" id="phone">
              </div>
              <div class="formrow">
                <input placeholder="Land" type="text" name="county" id="country">
              </div>
            </form>
            <h3>Zahlung</h3>
            <div class="payments">
              <div class="payment">
                <input type="radio" name="payment" id="visa">
                <label for="visa">
                  <img src="_src/img/visa.png" alt="Visa Icon">
                  <img class="checkmark" src="_src/img/check.svg" alt="Checkamrk">
                </label>
              </div>
              <div class="payment">
                <input type="radio" name="payment" id="mastercard">
                <label for="mastercard">
                  <img src="_src/img/mastercard.png" alt="Mastercard Icon">
                  <img class="checkmark" src="_src/img/check.svg" alt="Checkmark">
                </label>
              </div>
              <div class="payment">
                <input type="radio" name="payment" id="sofort-uberweisung">
                <label for="sofort-uberweisung">
                  <img src="_src/img/sofort-uberweisung.png" alt="Sofort Überweisung Icon">
                  <img class="checkmark" src="_src/img/check.svg" alt="Checkmark Icon">
                </label>
              </div>
              <div class="payment">
                <input type="radio" name="payment" id="paypal">
                <label for="paypal">
                  <img src="_src/img/paypal.png" alt="PayPal Icons">
                  <img class="checkmark" src="_src/img/check.svg" alt="Checkmark">
                </label>
              </div>
            </div>
          </div>


          <div class="order__navigation outer">
            <button class="btn btn__order" id="slide-3-prev">Zum Warenkorb</button>
            <button class="btn" id="send">Bestellung abschließen</button>
          </div>
        </div>
        </div>
        
      <div id="alerts" class="alert"></div>
    </main>
      @@include('../../partials/footer.html')
  </body>
<script src="JavaScript/ticket.js"></script>
<script src="JavaScript/ordernav.js"></script>
</html>