<!DOCTYPE html>
<html lang="en">
    @@include('../../partials/head.html', {
        "title" : "VOID Festival"
    })
    <body class="body">
      @@include('../../partials/menu.html')
      <main class="min-vh">
        @@include('../../partials/navigation.html')
        <section class="header header__half">
          <img src="_src/img/stage.png" alt="Bild einer Bühne mit feiernder Menge">
          <div class="overlay"></div>
          <div class="header__text">
              <h2>KONTAKT <br /> 12.-13.12.</h2>
              <div class="header__container">
                  <span>
                    2 STAGES | 60 ARTISTS | 2 TAGE <br/>
                    ALL GENRES ALL STYLES
                  </span>
              </div>
              <div class="decoration__bar animate__bg animate__bg--vertical animate__bg--vertical--glow"></div>
              <div class="decoration__bar animate__bg animate__bg--vertical"></div>
          </div>
        </section>
        <div class="breadcrumbs outer">
          <a class="breadcrumbs__link" href="./">Home</a>
          <span> / </span>
          <a class="breadcrumbs__link" href="kontakt/">Kontakt</a>
        </div>
        <div class="outer mt">
          <h2>Kontakt</h2>
          <div class="container container--2col">
            <div>
              <p>
                Bei Fragen oder um Hilfe zu euren Tickets zu bekommen meldet euch bei unserem Kundenservice. Wir sind Montag bis Freitag von 10:00 bis 18:00 Uhr für eucherreichbar.
              </p> <br />
              <p>
                VOID. FESTIVAL GMBH <br />
                <a href="tel:01631737743">Tel.: 0163 173 7743</a><br />
                <a href="mailto:info@void.com">Mail: info@void.com</a><br />
              </p>
            <div></div>
          </div>
        </div>
      </main>
        @@include('../../partials/footer.html')
    </body>
</html>