<!DOCTYPE html>
<html lang="en">
    @@include('../../partials/head.html', {
        "title" : "VOID | Lineup"
    })
    <body class="body">
      @@include('../../partials/menu.html')
      <main>
        @@include('../../partials/navigation.html')
        <div class="lineup lineup--selection min-vh">
            <div class="contentwrap outer">
                <div class="container container--lineup--selection">
                    <a class="titlewrap" href="lineup/hiphop/">
                        <div class="lineup__title">
                            <h2>HIP HOP<br>LINE UP</h1>
                            <p class="lineup__title__lower">
                                1 STAGE | 20 ARTISTS | 2 TAGE <br />
                                ALL GENRES | ALL STYLES
                            </p>
                            <div class="decoration__bar decoration__bar__red"></div>
                        </div>
                    </a>
                    <a class="titlewrap" href="lineup/techno">
                        <div class="lineup__title">
                            <h2>TECHNO<br>LINE UP</h1>
                            <p class="lineup__title__lower">
                                1 STAGE | 22 ARTISTS | 2 TAGE <br />
                                ALL GENRES | ALL STYLES
                            </p>
                            <div class="decoration__bar decoration__bar__blue"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      </main>
        @@include('../../partials/footer.html')
    </body>
</html>